In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

df = pd.concat([train_df, test_df])

df.head()

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

**1. Data Cleaning and Preprocessing:**
So many missing values, we will need to treat each column depending on the nature of the data in each column and the overall context of your project.

In [ ]:
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

Name                       15000
Monthly_Inhand_Salary      22500
Type_of_Loan               17112
Num_of_Delayed_Payment     10500
Num_Credit_Inquiries        3000
Credit_History_Age         13500
Amount_invested_monthly     6750
Monthly_Balance             1762
Credit_Score               50000
dtype: int64

In [ ]:
#<--Name-->
name_value_counts = df['Name'].value_counts()
top_names = name_value_counts.head(10)
num_unique_names = df['Name'].nunique()

df = df.copy()
df['Name'].fillna('J. Doe', inplace=True)
df['Name'].isnull().sum()

top_names, num_unique_names

(Name
 Stevex                66
 Langep                65
 Jessicad              59
 Vaughanl              58
 Raymondr              58
 Deepa Seetharamanm    58
 Jessica Wohlt         57
 Nicko                 57
 Ronald Groverk        56
 Jonesb                55
 Name: count, dtype: int64,
 10139)

In [ ]:
# <--Monthly_Inhand_Salary--> cell 1
salary_distribution = df['Monthly_Inhand_Salary'].describe()
print(salary_distribution)

df['Monthly_Inhand_Salary'].isna().sum()

count    127500.000000
mean       4190.115139
std        3180.489657
min         303.645417
25%        1625.265833
50%        3091.000000
75%        5948.454596
max       15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

22500

In [ ]:
# <--Monthly_Inhand_Salary--> cell 2
median_salary = df['Monthly_Inhand_Salary'].median() #<--- given the distribution of the "Monthly_Inhand_Salary" column. see(Skewed Distribution, Range Values, Median value)
df['Monthly_Inhand_Salary'].fillna(median_salary, inplace=True)
salary_distribution = df['Monthly_Inhand_Salary'].describe()
salary_distribution

count    150000.000000
mean       4025.247868
std        2958.412598
min         303.645417
25%        1792.520417
50%        3091.000000
75%        5363.071667
max       15204.633333
Name: Monthly_Inhand_Salary, dtype: float64

In [ ]:
# <--Type of Loan-->
loan_type_counts = df['Type_of_Loan'].value_counts()

top_loan_types = loan_type_counts.head(10)
num_unique_loan_types = df['Type_of_Loan'].nunique()

df['Type_of_Loan'].isna().sum()


df['Type_of_Loan'].fillna('Not Specified', inplace=True)   #<--- given the distribution of the "Type_of_Loan" column. see(Not Specified, Range Values)


top_loan_types, num_unique_loan_types

(Type_of_Loan
 Not Specified                      2112
 Credit-Builder Loan                1920
 Personal Loan                      1908
 Debt Consolidation Loan            1896
 Student Loan                       1860
 Payday Loan                        1800
 Mortgage Loan                      1764
 Auto Loan                          1728
 Home Equity Loan                   1704
 Personal Loan, and Student Loan     480
 Name: count, dtype: int64,
 6260)

In [ ]:
# <--Number of Delayed Payments-->
data_type_delayed_payments = df['Num_of_Delayed_Payment'].dtype

df['Num_of_Delayed_Payment'] = pd.to_numeric(df['Num_of_Delayed_Payment'], errors='coerce') #<--- numbers into numeric types
skewness_delayed_payments = df['Num_of_Delayed_Payment'].skew()
summary_delayed_payments = df['Num_of_Delayed_Payment'].describe()

data_type_delayed_payments, skewness_delayed_payments, summary_delayed_payments

(dtype('O'),
 14.336422664155652,
 count    135329.000000
 mean         30.937020
 std         224.723576
 min          -3.000000
 25%           9.000000
 50%          14.000000
 75%          18.000000
 max        4399.000000
 Name: Num_of_Delayed_Payment, dtype: float64)

In [ ]:
# <--Number of Delayed Payments--> cell 2
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: 0 if x < 0 else x)

percentile_95 = df['Num_of_Delayed_Payment'].quantile(0.95)  #<--- reducing the impact of extreme outliers
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: percentile_95 if x > percentile_95 else x)

median_delayed_payments = df['Num_of_Delayed_Payment'].median()
df['Num_of_Delayed_Payment'].fillna(median_delayed_payments, inplace=True)

new_summary_delayed_payments = df['Num_of_Delayed_Payment'].describe()
new_summary_delayed_payments

count    150000.000000
mean         13.443027
std           5.947961
min           0.000000
25%           9.000000
50%          14.000000
75%          18.000000
max          24.000000
Name: Num_of_Delayed_Payment, dtype: float64

In [ ]:
# <--Number of Credit inquires --> cell 1
skewness_credit_inquiries = df['Num_Credit_Inquiries'].skew()
distribution_credit_inquiries = df['Num_Credit_Inquiries'].describe()

skewness_credit_inquiries, distribution_credit_inquiries

(9.718317423718114,
 count    147000.000000
 mean         28.529014
 std         194.456058
 min           0.000000
 25%           3.000000
 50%           6.000000
 75%           9.000000
 max        2597.000000
 Name: Num_Credit_Inquiries, dtype: float64)

In [ ]:
# <--Number of Credit inquires --> cell 2

# <- 9.72 Skewness, highly right skewed, and precense of outliers
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].apply(lambda x: 0 if x < 0 else x)
new_skewness_credit_inquiries2 = df['Num_Credit_Inquiries'].skew()

percentile_95_inquiries = df['Num_Credit_Inquiries'].quantile(0.95)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].apply(lambda x: percentile_95_inquiries if x > percentile_95_inquiries else x)

median_credit_inquiries = df['Num_Credit_Inquiries'].median()
df['Num_Credit_Inquiries'].fillna(median_credit_inquiries, inplace=True)

new_summary_credit_inquiries = df['Num_Credit_Inquiries'].describe()
new_summary_credit_inquiries, new_skewness_credit_inquiries2

(count    150000.000000
 mean          6.365160
 std           3.918386
 min           0.000000
 25%           3.000000
 50%           6.000000
 75%           9.000000
 max          14.000000
 Name: Num_Credit_Inquiries, dtype: float64,
 9.718317423718114)

In [ ]:
# <--Years of Credit History--> cell 1

def convert_to_total_months(age_str):
    if pd.isna(age_str):
        return None
    parts = age_str.split(' ')
    years = int(parts[0]) if parts[0].isdigit() else 0
    months = int(parts[3]) if len(parts) > 3 and parts[3].isdigit() else 0
    return years * 12 + months

df['Credit_History_Age'] = df['Credit_History_Age'].apply(convert_to_total_months)
credit_history_age_skewness = df['Credit_History_Age'].skew()
credit_history_age_distribution = df['Credit_History_Age'].describe()
credit_history_age_distribution, credit_history_age_skewness

(count    136500.000000
 mean        223.215326
 std          99.719548
 min           1.000000
 25%         146.000000
 50%         222.000000
 75%         304.000000
 max         408.000000
 Name: Credit_History_Age, dtype: float64,
 -0.048023953162607956)

In [ ]:
# <--Years of Credit History--> cell 2
median_credit_history = df['Credit_History_Age'].median()
df['Credit_History_Age'].fillna(median_credit_history, inplace=True)
new_skewness_credit_history = df['Credit_History_Age'].skew()
new_summary_credit_history = df['Credit_History_Age'].describe()
new_summary_credit_history, new_skewness_credit_history

(count    150000.000000
 mean        223.105947
 std          95.126991
 min           1.000000
 25%         156.000000
 50%         222.000000
 75%         294.000000
 max         408.000000
 Name: Credit_History_Age, dtype: float64,
 -0.04689238942885576)

In [ ]:
# <-- Amount invested monthly --> cell 1
# convert  to a numeric format
df['Amount_invested_monthly'] = pd.to_numeric(df['Amount_invested_monthly'], errors='coerce')

amount_invested_distribution = df['Amount_invested_monthly'].describe()
amount_invested_skewness = df['Amount_invested_monthly'].skew()
amount_invested_distribution, amount_invested_skewness

(count    136770.000000
 mean        195.305028
 std         198.599612
 min           0.000000
 25%          72.232194
 50%         128.984784
 75%         236.844304
 max        1977.326102
 Name: Amount_invested_monthly, dtype: float64,
 2.5295788801444172)

In [ ]:
# <-- Amount invested monthly --> cell 2
median_amount_invested = df['Amount_invested_monthly'].median()
df['Amount_invested_monthly'].fillna(median_amount_invested, inplace=True)

new_summary_amount_invested = df['Amount_invested_monthly'].describe()
new_skewness_amount_invested = df['Amount_invested_monthly'].skew()
new_summary_amount_invested, new_skewness_amount_invested

(count    150000.000000
 mean        189.455583
 std         190.569511
 min           0.000000
 25%          77.018550
 50%         128.984784
 75%         220.228565
 max        1977.326102
 Name: Amount_invested_monthly, dtype: float64,
 2.6988854845756545)

In [ ]:
# <-- Monthly balance --> cell 1
unique = df['Monthly_Balance'].nunique()
unique

# converted to a numeric format
df['Monthly_Balance'] = pd.to_numeric(df['Monthly_Balance'], errors='coerce')

monthly_balance_distribution = df['Monthly_Balance'].describe()
monthly_balance_skewness = df['Monthly_Balance'].skew()
monthly_balance_distribution, monthly_balance_skewness, unique

(count    148223.000000
 mean        402.723009
 std         213.844776
 min           0.007760
 25%         270.241882
 50%         336.815865
 75%         470.477895
 max        1606.518192
 Name: Monthly_Balance, dtype: float64,
 1.5905121038295311,
 148224)

In [ ]:
# <-- Monthly balance --> cell 2
median_monthly_balance = df['Monthly_Balance'].median()
df['Monthly_Balance'].fillna(median_monthly_balance, inplace=True)

new_summary_monthly_balance = df['Monthly_Balance'].describe()
new_skewness_monthly_balance = df['Monthly_Balance'].skew()
new_summary_monthly_balance, new_skewness_monthly_balance

(count    150000.000000
 mean        401.942229
 std         212.693891
 min           0.007760
 25%         270.971064
 50%         336.815865
 75%         467.988694
 max        1606.518192
 Name: Monthly_Balance, dtype: float64,
 1.6079810825933205)

In [ ]:
# <-- Credit Score -->
checktarget = df['Credit_Score'].isnull().sum()
target = df['Credit_Score'].describe()
target, checktarget

# I realized that the Credit_Score column values from test set were NaN, so I will split the data into train and test sets based on the Credit_Score column

(count       100000
 unique           3
 top       Standard
 freq         53174
 Name: Credit_Score, dtype: object,
 50000)

In [ ]:
missing_values_train = df.isnull().sum()
missing_values_train[missing_values_train > 0]

Credit_Score    50000
dtype: int64

In [ ]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

**1. Data Cleaning and Preprocessing:** Moving into converting categorical data into more suitable format

In [ ]:
# Listing categorical columns in the dataset
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
categorical_collumns_head = df.select_dtypes(include=['object', 'category']).describe()
# Displaying the categorical columns and the number of unique values in each
categorical_columns_summary = {col: df[col].nunique() for col in categorical_columns}
categorical_columns_summary, categorical_collumns_head

({'ID': 150000,
  'Customer_ID': 12500,
  'Month': 12,
  'Name': 10140,
  'Age': 2524,
  'SSN': 12501,
  'Occupation': 16,
  'Annual_Income': 21192,
  'Num_of_Loan': 623,
  'Type_of_Loan': 6260,
  'Changed_Credit_Limit': 4605,
  'Credit_Mix': 4,
  'Outstanding_Debt': 13622,
  'Payment_of_Min_Amount': 3,
  'Payment_Behaviour': 7,
  'Credit_Score': 3},
             ID Customer_ID    Month    Name     Age        SSN Occupation  \
 count   150000      150000   150000  150000  150000     150000     150000
 unique  150000       12500       12   10140    2524      12501         16
 top     0x1602   CUS_0xd40  January  J. Doe      39  #F%$D@*&8    _______
 freq         1          12    12500   15000    4198       8400      10500

        Annual_Income Num_of_Loan   Type_of_Loan Changed_Credit_Limit  \
 count         150000      150000         150000               150000
 unique         21192         623           6260                 4605
 top         36585.12           3  Not Specified                    _
 freq              24       21500          19224                 3150

        Credit_Mix Outstanding_Debt Payment_of_Min_Amount  \
 count      150000           150000                150000
 unique          4            13622                     3
 top      Standard          1360.45                   Yes
 freq        54858               36                 78484

                      Payment_Behaviour Credit_Score
 count                           150000       100000
 unique                               7            3
 top     Low_spent_Small_value_payments     Standard
 freq                             38207        53174  )